/* ==========================================================================
   GOOGLE FONTS
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Rubik:400,400i,500");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");
/* ==========================================================================
   GENERAL
   ========================================================================== */
body {
  font-family: 'Rubik', sans-serif;
  color: #a0a6ad;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  overflow-x: hidden; }

html {
  overflow-x: hidden; }

p {
  font-size: 14px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0; }

a:hover, a:focus {
  color: #000; }

a {
  color: #000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #151948; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

a:not([href]):not([tabindex]) {
  color: #fff; }

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff; }


/* ==========================================================================
   Section Title
   ========================================================================== */
.section {
  padding: 130px 0px; }

.form-control:focus {
  outline: none;
  box-shadow: none; }

.section-header {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
  position: relative; }

.section-header .section-title {
  font-size: 35px;
  margin-bottom: 12px;
  font-weight: 600;
  position: relative;
  line-height: 30px; }

.section-header .desc-text p {
  font-size: 18px;
  color: #5e629c;
  line-height: 26px;
  margin-bottom: 0; }

/* ==========================================================================
   Buttons
   ========================================================================== */
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fff;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block; }

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none; }

.btn-common {
  background-color: #3ecf8e;
  position: relative;
  z-index: 1;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 160px;
  height: 50px;
  padding: 14px 15px; }

.btn-common:hover {
  color: #fff;
  transform: translateY(-2px); }

.btn-light-bg {
  background-color: #ff704f; }

.btn-border {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: transparent;
  border-color: #3ecf8e;
  color: #3ecf8e;
  width: 160px;
  height: 50px;
  padding: 14px 15px; }

.btn-border:hover {
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  transform: translateY(-2px); }

.btn-border-filled {
  cursor: pointer;
  background-color: #3ecf8e;
  border: 1px solid #3ecf8e;
  color: #fff;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17);
  width: 180px;
  height: 50px;
  padding: 15px 15px; }

.btn-border-filled:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  transform: translateY(-2px); }

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px; }

.btn-rm {
  color: #3c9cfd;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px; }

.btn-rm i {
  vertical-align: middle; }

.btn-singin {
  background: #7fc9fb;
  color: #fff;
  padding: 10px 23px;
  margin-left: 30px;
  box-shadow: 0px 8px 9px 0px rgba(96, 94, 94, 0.17); }

.btn-singin:hover,
.btn-singin:active,
.btn-singin:focus {
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17); }

.btn-light-singin:hover,
.btn-light-singin:active,
.btn-light-singin:focus {
  color: #fff;
  box-shadow: 0px 0px 0px 0px rgba(96, 94, 94, 0.17); }

button:focus {
  outline: none !important; }

.btn-border-fill {
  background: #fff;
  border-color: #fff;
  color: #3c9cfd; }

.btn-subtitle {
  color: #191c1e;
  font-family: 'Poppins', sans-serif;
  background: #dbecff;
  text-align: center;
  border-radius: 30px;
  padding: 6px 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px; }

.clear {
  clear: both; }

.mt {
  margin-top: 80px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pt-70 {
  padding-top: 70px; }

.mb-50 {
  margin-bottom: 50px; }

.padding-0 {
  padding: 0; }

.pr-20 {
  padding-right: 20px; }

.pl-20 {
  padding-left: 20px; }

.pl-70 {
  padding-left: 70px; }

.pr-70 {
  padding-right: 70px; }


/* ==========================================================================
   Navbar Style
   ========================================================================== */
.logo-menu a {
  font-size: 20px;
  color: #fff; }

/* ==========================================================================
   Hero Area
   ========================================================================== */
.hero-area {
  position: relative; }
  .hero-area .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: url('../img/Lion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    z-index: -12; }
  .hero-area .contents {
    padding: 220px 0; }
    .hero-area .contents h2 {
      color: #fff;
      font-size: 38px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 20px; }
    .hero-area .contents p {
      color: #fff;
      font-size: 18px;
      line-height: 26px; }
    .hero-area .contents .btn {
      margin-top: 40px;
      margin-right: 20px;
      text-transform: uppercase;
      width: 180px;
      height: 50px;
      padding: 15px 15px; }
    .hero-area .contents .btn-border {
      border: 1px solid #fff;
      color: #3ecf8e !important;
      -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
      width: 180px;
      height: 50px;
      padding: 15px 15px;
      background: #fff; }
      .hero-area .contents .btn-border:hover {
        background: #fff;
        color: #3ecf8e; }
  .hero-area .intro-img {
    padding: 180px 0 0px; }
    .hero-area .intro-img img {
      display: block;
      height: auto;
      max-width: 100%; }

/* ==========================================================================
   About 
   ========================================================================== */
#benefits .benefits-item {
  padding: 60px 30px;
  border: 1px solid #ddd;
  -moz-transition: all .8s ease;
  -webkit-transition: all .8s ease;
  transition: all .8s ease; }
  #benefits .benefits-item:hover {
    border: 1px solid #3ecf8e;
    box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  #benefits .benefits-item .icon {
    background: #e3fff2;
    width: 110px;
    height: 110px;
    margin: 0px auto;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px; }
  #benefits .benefits-item .icon i {
    font-size: 40px;
    color: #3ecf8e;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%; }
  #benefits .benefits-item h4 {
    font-size: 20px;
    font-weight: 600;
    color: #151948;
    margin-bottom: 15px; }
  #benefits .benefits-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #5e629c; }

/* ==========================================================================
   Video Section 
   ========================================================================== */
#video {
  padding-bottom: 130px; }
  #video .container-fluid {
    padding-right: 30px;
    padding-left: 30px; }
  #video .video-details {
    margin-top: 60px; }
    #video .video-details h3 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 25px; }
    #video .video-details p {
      font-size: 16px;
      margin-bottom: 20px; }

/* ==========================================================================
   Reviews 
   ========================================================================== */
#reviews {
  background: #f9f9f9; }
  #reviews .reviews-bg {
    background: #fff; }
  #reviews .reviews-border1 {
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed; }
  #reviews .reviews-border2 {
    border-bottom: 1px solid #ededed; }
  #reviews .reviews-border3 {
    border-right: 1px solid #ededed; }
  #reviews .single-review {
    padding: 30px;
    overflow: hidden;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
    #reviews .single-review .users {
      background: #e3fff2;
      width: 100px;
      height: 100px;
      margin: 0px auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-bottom: 0px;
      margin-bottom: 0px;
      text-align: center;
      display: block;
      border-radius: 50%;
      position: relative;
      margin-right: 30px;
      border: 1px solid #3ecf8e;
      margin-top: 12px; }
      #reviews .single-review .users i {
        font-size: 40px;
        color: #3ecf8e;
        position: absolute;
        left: 0;
        right: 0;
        top: 32%; }
    #reviews .single-review h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px; }
    #reviews .single-review p {
      font-size: 16px;
      display: block; }
    #reviews .single-review:hover {
      box-shadow: 0px 0px 25px 0px rgba(95, 95, 95, 0.24);
      -moz-transition: all .8s ease;
      -webkit-transition: all .8s ease;
      transition: all .8s ease; }
    #reviews .single-review:hover .users {
      background: #3ecf8e;
      -moz-transition: all .8s ease;
      -webkit-transition: all .8s ease;
      transition: all .8s ease; }
    #reviews .single-review:hover .users i {
      color: #fff;
      -moz-transition: all .8s ease;
      -webkit-transition: all .8s ease;
      transition: all .8s ease; }

/* ==========================================================================
   Footer section
   ========================================================================== */
#footer-Content {
  padding-top: 0px;
  background: #180e29; }
  #footer-Content .copyright {
    border-top: 1px solid #3c1f6e;
    padding-top: 30px;
    padding-bottom: 30px; }
    #footer-Content .copyright p {
      color: #3ecf8e;
      font-size: 18px; }